In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key
g_key

'AIzaSyBq-Sq2sYNS78RPB3rjp-qIs27nbgp2owE'

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maku,IR,2022-07-25 23:20:22,39.2911,44.4521,65.70,61,0,3.15
1,1,Tanout,NE,2022-07-25 23:20:22,14.9709,8.8879,93.56,18,7,6.62
2,2,Chulumani,BO,2022-07-25 23:20:22,-16.4096,-67.5263,63.70,88,66,2.01
3,3,San Angelo,US,2022-07-25 23:20:23,31.4638,-100.4370,102.11,19,0,11.50
4,4,Belmonte,BR,2022-07-25 23:17:25,-15.8631,-38.8828,71.44,80,54,8.61

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False,max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

A Jupyter Widget

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

A Jupyter Widget

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

A Jupyter Widget

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

A Jupyter Widget

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 0
What is the maximum temperature you would like for your trip? 100

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maku,IR,2022-07-25 23:20:22,39.2911,44.4521,65.70,61,0,3.15
1,1,Tanout,NE,2022-07-25 23:20:22,14.9709,8.8879,93.56,18,7,6.62
2,2,Chulumani,BO,2022-07-25 23:20:22,-16.4096,-67.5263,63.70,88,66,2.01
4,4,Belmonte,BR,2022-07-25 23:17:25,-15.8631,-38.8828,71.44,80,54,8.61
5,5,Pochutla,MX,2022-07-25 23:20:23,15.7432,-96.4661,86.83,73,89,3.91
6,6,Bredasdorp,ZA,2022-07-25 23:20:23,-34.5322,20.0403,47.01,73,0,4.47
7,7,Barrow,US,2022-07-25 23:20:24,71.2906,-156.7887,37.42,87,100,31.07
8,8,Mpika,ZM,2022-07-25 23:20:24,-11.8343,31.4529,57.49,68,56,10.18
9,9,Kodiak,US,2022-07-25 23:20:24,57.7900,-152.4072,63.91,55,100,9.22
10,10,Muisne,EC,2022-07-25 23:20:25,0.6000,-80.0333,73.58,83,95,10.25

In [12]:
preferred_cities_df.count()

City_ID       567
City          567
Country       564
Date          567
Lat           567
Lng           567
Max Temp      567
Humidity      567
Cloudiness    567
Wind Speed    567
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0         Maku      IR     65.70  39.2911   44.4521
1       Tanout      NE     93.56  14.9709    8.8879
2    Chulumani      BO     63.70 -16.4096  -67.5263
4     Belmonte      BR     71.44 -15.8631  -38.8828
5     Pochutla      MX     86.83  15.7432  -96.4661
6   Bredasdorp      ZA     47.01 -34.5322   20.0403
7       Barrow      US     37.42  71.2906 -156.7887
8        Mpika      ZM     57.49 -11.8343   31.4529
9       Kodiak      US     63.91  57.7900 -152.4072
10      Muisne      EC     73.58   0.6000  -80.0333

In [14]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

 # Modify the last piece of code and make a try-except block to handle the IndexError
 # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(hotel_df.loc[index, "Hotel Name"])
    except (IndexError):
        print("Hotel not found... skipping.")

Maku Tourist Hotel
Hotel not found... skipping.
Hotel Cabanas Paradise
Pousada Monte Carmelo O Pão
Hotel Posada San Jose
Bredasdorp Country Manor
King Eider Inn
Melodies Lodge
Best Western Kodiak Inn And Convention Center
Quinta Samay
Ellie's Villa
Hotel not found... skipping.
Hilo Hawaiian Hotel
Hôtel de l'UCom CVPC
Hotel not found... skipping.
NordHostel
Shanti Maurice Resort & Spa
Observatory Guest House
帕米尔青年旅舍
Whispering Bamboo Cove Resort
Fortuna
Homewood Suites by Hilton Edgewater-NYC Area
Bed&Breakfast Lageland
CHACARA BAILLY
Aydinlar Hotel
Ha'apai Beach Resort
Hotel do Campo
Paradise Inn
Frobisher Inn
Oumou Elghoura
Green House
Casa Tia Villa
Hotel not found... skipping.
Nioaque Novo Hotel
Hotel Xaguate
Hampton Inn & Suites Jamestown
Burntwood Hotel
hotel la terminal
St Ives Hobart Accommodation Tasmania
محمدالمبروك الاريقط
Hotel Nilamber
Hospitality Carnarvon
Black Marlin Restaurant & Hospedaje
Taloa Heights
Radisson Blu Hotel Waterfront, Cape Town
Bora-Bora Pearl Beach Resort & Spa
People ThankYou
Hostal Las Lilas
Forasteiro Pousada
Ahipara Holiday Park
Hotel Kap Farvel
Royal Crown Hotel
Crest Hotel
Hotel Hain
Hotel Temple Ponferrada
Keleti Beach Resort
Shishime Hotel
Gostinichnyy Kompleks Aylgy
Hotel Benjamín Hill
المنزل
Hotel Tesoro Los Cabos
Qamaq Hotel
Hotel Campos
Pousada Porto De Canoas
Port Lincoln Hotel
Hotel not found... skipping.
Oyster Bay House Rental
Apel'sin
Hotel not found... skipping.
Bilginler Kız Öğrenci Yurdu
Hotel not found... skipping.
Dhaffalhu Tourist Lodge
Hotel not found... skipping.
Hotel Halifax
Sheraton Kauai Coconut Beach Resort
Casa Laguna, Bed & Breakfast
Hotel not found... skipping.
Hotel Arctic
The Explorer Hotel
Café de Upernavik
The Halyards Hotel
Bayside Inn
Hotel not found... skipping.
Mini Central
39 On Nile Guest House
Cititel Penang
Hostel
Le four à pain
Talnakh Hotel
Garden City Konjic
Green Park Inn Hotel
Crôa Mares Hotel
Shuangliu Love Home Business Hotel
Yalemd
The Shingles Riverside Cottages
Valle Aridane
Qaanaaq Hotel
Vardø Hotel AS
Rockingham Apartments
Gran Hotel Mar del Plata
Hospitality Esperance
Hotel RIKMAN Continental
Chernyseyskiy
Majestic Oasis Apartments
"Khatanga"
Rumah Anggrek Syariah 1 RedPartner
Hosteria Sampedro
Sportivnyy Gorodok
Rydges Port Macquarie
Fenghuang Garden Holiday Hotel
Courtyard by Marriott Danbury
National Camp Association
Screensaver
Hotel Gualok
Gallows Cove
Residencial Karime
Melrose Beach Resort
Bluff Homestead - Guesthouse & Campervan Park
Sea Lounge! Bar, Club & Restaurant
Oyster Box Guesthouse
Hotel Fellip
Katsuura Hotel Mikazuki
The Hotel Petropavlovsky
Isles Sunset Lodge
RUMBIA RESORT VILLA Paka Terengganu
Radisson Blu Polar Hotel, Spitsbergen
The Westport Inn
Red Lion Hotel Coos Bay
Hôtel Le Dronmi
Albatross Hotel
HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel
Hotel Strannik
Kelly Inn & Suites
Misty Waves Boutique Hotel
Kaitangata Motor Camp
Pistut
Inubosaki Kanko Hotel
Almost HOME
Gostinitsa Severyanka
Hôtel De Ville De Yokadouma
Hotel not found... skipping.
Grand Hotel
Mega Hotel, Miri
Oota Ryokan
Ethos Inn
John Pirie Motor Inn
Atlantis Hotel
Finch Bay Galapagos Hotel
Hotel Vitória Palace
Hotel Ultramar
OCHA Office
Avenida Palace Hotel
Ikathouse
Clevers Hotel Chiredzi
Nancy Montanes Bernardo
The Fort Nelson Hotel
Hotel not found... skipping.
Villa Enata
Hotel not found... skipping.
Hotel not found... skipping.
Moon light Furnished Units
Hotel not found... skipping.
Holiday Inn Express Deer Lake, an IHG Hotel
Broadwater Mariner Resort
Uruna Bay Retreat
HOTEL JYOTI PARADISE
Scoop Guest House
Coastal Hotel & Suites
Hotel Somagg
Grage Hotel Bengkulu
Embassy Suites by Hilton Huntsville
Royal Garden Hotel
Marriott's Ko Olina Beach Club
Hotel Manju
Shimoda Tokyu Hotel
Severnoye Zoloto
CeBlue Villas & Beach Resort
Sukhona Hotel
Apartment above Depot Bar
Airport Inn-Port Hardy
Hostelli Nonna
Sur Plaza Hotel
Pereybere Hotel & Spa
Tu Casa
INN NEW HORIZON
ООО "Туруханская пушнина"
Northern Light Inn & Max's Restaurant
Motel 6 Sinton, TX
Floresta Amazonica Hotel
HS Hotsson Smart Acapulco
El rranchito michuacan de ocampos
Araticu Soft Hotel
"Эңсиэли Киин"
Business Hotel ASTRUM Laus
Hotel not found... skipping.
Ахмадын амралт сувилал
Sanatorium Ak-Niet
hotel italia
Airbnb rooms
Hotel Zelis
Hotel not found... skipping.
Cortland Motel
Pousada Porto Praia
Гостевая квартира
Villa Mar Colina
Tora Coastal Walk
Colinas de Matasiete
Hotel California Petatlán
Swiss-Belhotel Ambon
La Caz Oceane
Bonifacio Lodge
Veranda Paul et Virginie Hotel & Spa
Copamarina Beach Resort & Spa

In [ ]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
# Add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.
# Add an info_box_template

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
## Syntax  for adding markers = gmaps.marker_layer(marker_locations, where the marker_locations are latitudes and longitudes.

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig